<app-bl-table [dataSource]="users$ | async" (rowClick)="onUserClick($event)">
  <ng-container filterContent>
    <app-filter-text name="Search" [debounceTime]="200"></app-filter-text>
  </ng-container>

  <app-bl-table-view desktop>
    <ng-template columnHeader="ID" flexWidth="1" let-row columnSortKey="sort-id">
      <div class="truncate">
        {{ row.id }}
      </div>
    </ng-template>

    <ng-template columnHeader="Namn" flexWidth="3" let-row>
      <div class="truncate">{{ row.name }}</div>
    </ng-template>

    <ng-template columnHeader="Personnummer" flexWidth="2" let-row>
      <div class="truncate">{{ row.socialSecurityNumber }}</div>
    </ng-template>

    <ng-template columnHeader="Rättigheter" flexWidth="1" columnHeaderClass="text-right w-4/5" let-row>
      <div class="flex justify-end w-4/5" *ngIf="row.blAllInclusive" matTooltip="Byråmedarbetare" [ngStyle]="{ opacity: '1.0' }">
        <i class="fal fa-user-crown fa-fw text-bl-blue mr-1"></i>
      </div>
    </ng-template>
  </app-bl-table-view>

  <!-- Mobile -->
  <app-bl-table-view mobile>
    <ng-template columnHeader="" flexWidth="1" let-row columnSortKey="sort-date">
      <div class="flex w-4/5">
        <p class="truncate">{{ row.name }}</p>
      </div>
    </ng-template>
    <ng-template columnHeader="" flexWidth="1" let-row>
      <div class="flex justify-end">
        <p class="truncate">{{ row.socialSecurityNumber }}</p>
      </div>
    </ng-template>
  </app-bl-table-view>
</app-bl-table>
