<main class="absolute z-0">
    <span matTooltip="Nyckelmakaren" class="cursor-pointer" (click)="showMenu()"
      ><i [ngClass]="icon" class="fal"></i
    ></span>
  <div
    class="bg-white flex flex-col option-container border border-bl-grey-200 shadow-lg ease-out duration-100 opacity-0 font-normal text-base"
    [ngClass]="
      !isShowingMenu ? 'transition ease-in duration-75 opacity-0 invisible' : 'opacity-100 visible'
    "
  >
    <span class="p-2 border-b border-bl-grey-200 font-medium text-center">Nyckelmakaren</span>
    <div
      class="p-2 hover:bg-bl-grey-200 cursor-pointer"
      (click)="createKey(item)"
      *ngFor="let item of items"
    >
      {{ item.title }}
    </div>
  </div>
</main>
